ul {
  color: whitesmoke !important;
}

.contain {
  margin-top: 3em;
  background-color: black;
}
.contain h4 {
  color: #fc8621 !important;
}
.about p {
  color: whitesmoke;
}
.button {
  background-color: #fc8621 !important;
}
hr {
  border: 0.1px solid white !important;
  width: 95%;
}
.column {
  padding-left: 5em !important;
  padding-right: 5em !important;
}
.col-md-3 {
  margin: 2em auto 2em auto !important;
}
i {
  padding-top: 3px;
  padding-left: 1px;
  //padding-right: 1em !important;
  background-color: #fc8621;
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  margin-right: 2em !important;
}
