@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Caveat&family=Dancing+Script&display=swap");

body {
  background: #0a043c !important;
}
h1 {
  font-family: "Dancing Script", cursive !important;
  text-align: center !important;
  color: whitesmoke !important;
  margin-top: 2em !important;
}
