@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
$transparent: rgba(0, 0, 0, 0.4);

.navbar {
  background: black;
  height: 4em;
}
.navbar-brand,
.nav-link {
  color: wheat !important;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
}
